@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 46 65% 52%;
    --primary-foreground: 40 62% 91%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  body {
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
